@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

body {
    background: #5f2c82; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #49a09d, #5f2c82); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #49a09d, #5f2c82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    animation-name: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.wrapper {
    background: #5f2c82; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #49a09d, #5f2c82); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #49a09d, #5f2c82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    text-align: center;
}

.titleMid {
    text-align: center;
    position: center;
    padding: 15px 15px 0 15px;
    background-color: whitesmoke;
}

.customNav {
    background-color: whitesmoke;
}

.myModal {
    margin-top: 100px;
    width: 50%;
    display: inline-block;
}

.mybtn1 {
    padding: 10px 60px 10px 60px;
    margin: 10px 10px 10px 10px;
    width: 400px;
}

.mybtn2 {
    padding: 10px 60px 10px 60px;
    margin-top: 20px;
    width: 100%;
    display: block;
}

.formCustom {
    margin-top: 80px;
    text-align: left;
    background-color: transparent;
    color: white;
}

.title {
    text-align: center;
}

.customDrop {
    position: center;


}

.selectpicker {
    display: inline-list-item;
}